<!DOCTYPE html>
<html>
    <head>
        <title>CUSTOM</title>
    </head>
    <body>
        <h1>it's a custom made layout!</h1>
        <p>Ayo wassup, good to see you here</p>
        @RenderBody()
        <a href="./Index">Click here to go back </a>
    </body>
</html>